/*------------------------ Global ------------------------*/

:root {
  --primary: #00B9BD;
  --secundary: #007E80;
  --complement-b1: #004853;
  --complement-b2: #23384F;
  --complement-r: #f63700;
  --complement-o: #FB6900;
  --gray-l1: #F8F8F8;
  --gray-l2: #E8E8E8;
  --gray-d1: #898989;
  --gray-d2: #383B40;
}

/*------------------------ AllPage ------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  color: var(--gray-l1);
  font-family: 'Share Tech Mono', monospace, Verdana, Arial;
}

img {
  max-width: 100% !important;
}

body{
  background-color: var(--gray-d2);
}

.container {
  z-index: 100;
  min-height: 100vh;
  min-width: 100%;
  cursor: crosshair;

  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

/*------------------------ Header ------------------------*/

.nav {
  display: flex;
  min-height: 15vh;
  align-items: center;
  justify-content: center;
}

.nav li {
  list-style-type: none;
  padding: .3rem 1.2rem;
  font-size: 1.5rem;
  color: var(--primary);
}

.active {
  color: var(--complement-r) !important;
  font-weight: bold;
  /* border-bottom: 5px solid var(--complement-r); */
  animation: textPulse 3s infinite alternate;
}

/*------------------------ Main-Title ------------------------*/

.main-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
}

.name {
  font-family: 'Major Mono Display', monospace;

  animation: textColorPrimary 8s infinite 6s;
}

.main-title .name {
  display: block;
  margin: 0 auto;
  font-size: 7.3rem;
}

.main-title .title {
  display: block;
  white-space: nowrap;
  font-size: 2rem;
  border-right: 1rem solid;
  margin: 2rem auto;
  overflow: hidden;
  width: 35ch;

  animation: textTyping 4.5s steps(35),
    textPulse 5s infinite alternate 6s,
    textTypingCursor .25s infinite step-end alternate;
}

.main-title #start {
  cursor: pointer;
  margin: 1rem auto;

  font-size: 2rem;
  padding: .8rem 1rem .6rem;
  animation: textColorRed 3s infinite;
  border: .3rem solid;
  border-radius: 1rem;
}

.main-title #start span{
  margin-right: .5rem;
}

.main-title #start *{ 
  animation: textColorRed 3s infinite;
}

/* .main-title #start *{
  font-size: 2rem;
  animation: textColorRed 3s infinite;
}

.main-title #start i{
  display: block;
  margin-bottom: .5rem;
  font-size: 4rem;
} */

/*------------------------ Main-Content ------------------------*/

.main-content section {
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 2s;
}

.about p {
  width: 70%;
  text-align: justify;
  font-size: 2rem;
}

.about pre {
  font-size: 2rem;
  margin: 2rem;
}
/*------------------------ Footer ------------------------*/

.footer {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  outline: 2px solid var(--complement-r);
}

.footer .name {
  font-size: 2rem;
}

.footer .social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.icon {
  font-size: 2rem;
}

.icon:hover {
  color: var(--complement-r);
}

/*------------------------ Utils ------------------------*/

.hide {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.lock {
  z-index: 1000 !important;
  background: var(--gray-d2);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0;
  bottom: 0;
  cursor:none;
}

.transition-down {
  animation: transitionDown 2s;
}

.transition-fadeIn {
  animation: fadeIn 5s;
}

/*------------------------ Animations ------------------------*/

/* Animation screen down 2 */
@keyframes transitionDown {
  0% {
    height: 0;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

/* Change to primary color */
@keyframes textColorPrimary {
  50% {
    color: var(--primary)
  }

  100% {
    color: var(--gray-l1)
  }
}

/* Change to red color */
@keyframes textColorRed {
  50% {
    color: var(--complement-r)
  }

  100% {
    color: var(--gray-l1)
  }
}

/* effect transparent in text */
@keyframes textPulse {
  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

/* Typing effect text - Text*/
@keyframes textTyping {
  from {
    width: 0;
  }
}

/* Typing effect text - Cursor */
@keyframes textTypingCursor {
  0% {
    border-color: rgba(246, 55, 0, 0);
  }

  20% {
    border-color: rgba(246, 55, 0, .2);
  }
  40% {
    border-color: rgba(246, 55, 0, .4);

  }
  60% {
    border-color: rgba(246, 55, 0, .6);
  }
  80% {
    border-color: rgba(246, 55, 0, .8);
  }
  100% {
    border-color: rgba(246, 55, 0, 1);
  }
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}